* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-list {
  perspective: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-block {
  margin: 0 auto;
  width: 50%;
}

